{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>I need a money machine</h1>
    <p class="lead">I need a money machine, It means nothing to me </p>
    <p>--GUCCI MANE</p>
    <form action="/" method="POST">
        <input type="text" name="publication" placeholder="search" />
        <input type="submit" value="Calculate" />
    </form>

    <h1>
    {% if result %}
        {% for item in result -%}
        <li> {{item}}</li>
        {%- endfor %}
    {% endif %}
    </h1>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
