{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">

<div class="row">
    <div class="col-md-4">
        <h2>RHYME </h2>
        <div class="row">
            <img width ="100" height="100" src="../static/asset/illmatic_cover.jpg" />
            <div>
                <i> When it comes to mine, take it in blood
                </i>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Cross-Reference</h2>
        <p>
            People are frugal in guarding their personal property; but as soon as it
            comes to squandering time they are most wasteful
        </p>
    </div>
    <div class="col-md-4">
        <h2>Origin</h2>
        <p>Song</p>
        <p>Take it in blood - Stillmatic</p>
    </div>
</div>

<div>

</div>



{% endblock %}
